*.pyc
*.pyo
build
dist
bestiary.egg-info
__pycache__
.imported
.exported
logs

# Eclipse's files and directories
.project
.pydevproject
.settings

# Virtual env files and directories
bin
lib
lib64
share
pyvenv.cfg