*.pyc
*.pyo
build
dist
bestiary.egg-info
__pycache__
.imported
.exported

# Eclipse's files and directories
.project
.pydevproject
.settings

# Virtual env files and directories
bin
lib
lib64
share
pyvenv.cfg

# JavaScript files
node_modules
dist
storybook-static

# Log files
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
