django==3.1
grimoirelab_toolkit>=0.2
mysqlclient==2.0.3
python-dateutil>=2.8.0
graphene-django>=2.0,<3
django-graphql-jwt==0.3.1
PyJWT>=1.7.0,<2.0
django-cors-headers
rq>=1.4.0
django-rq>=2.3.0
fakeredis>=1.4.1
requests
httpretty>=1.0.4
