{% extends 'base.html' %}
{% with active_page="editor" %}

{% block title %}Editor{% endblock %}

{% block head %}
    {{ block.super }}
{% endblock %}

{% block body %}

<!-- Editor modals -->

<div class="container-fluid">
  <!-- Modal: Import -->
  <div class="modal fade" id="importModal" role="dialog" tabindex="-1">
      <div class="modal-dialog">
      <!-- Modal content-->
          <div class="modal-content">
            <form id="ecosystem_import" method="POST" action="/projects/import/" enctype="multipart/form-data">
            {% csrf_token %}
            <div class="modal-header">
                <div class="modal-title">
                    Import projects file
                </div>
              <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
            <div class="modal-body">
                    <div class="input-group">
                       <span class="input-group-addon"><i class="fa fa-globe"></i></span>
                           {{ ecosystems_form.name }}
                     </div>
                     <div class="input-group">
                       <span class="input-group-addon"><i class="fa fa-arrow-circle-o-up"></i></span>
                       <input type="file" name="imported_file" placeholder="Select JSON file" accept="application/json" required=True class="form-control">
                     </div>
            </div>
            <div class="modal-footer">
              <button type="submit" class="btn btn-primary">Import</button>
            </div>
          </form>
          </div>
      </div>
  </div>

  <!-- Modal: Download -->
  <div class="modal fade" id="exportModal" role="dialog" tabindex="-1">
      <div class="modal-dialog">
      <!-- Modal content-->
          <div class="modal-content">
            <form id="ecosystem_download" method="POST" action="/projects/export/" enctype="multipart/form-data">{% csrf_token %}
            <div class="modal-header">
              <div class="modal-title">Download projects file</div>
              <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
            <div class="modal-body">
                    <div class="input-group">
                        <span class="input-group-addon"><i class="fa fa-globe"></i></span>
                        {{ ecosystems_form.name }}
                    </div>
            </div>
            <div class="modal-footer">
              <button type="submit" class="btn btn-primary">Download</button>
            </div>
          </form>
          </div>
      </div>
  </div>

  <!-- Modal: Add ecosystem -->
    <div class="modal fade" id="ecoModal" role="dialog" tabindex="-1">
        <div class="modal-dialog">
        <!-- Modal content-->
            <div class="modal-content">
              <form method="post">
                  {% csrf_token %}
                <fieldset id="eco-fieldset">
                  <div class="modal-header">
                    <div class="modal-title">Ecosystem</div>
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                  </div>
                  <div class="modal-body">
                      {% for field in ecosystems_form.state_fields %}
                      {{ field }}
                      {% endfor %}
                      {{ ecosystems_form.name.errors }}
                      <div class="input-group">
                          <span class="input-group-addon"><i class="fa fa-globe"></i></span>
                          {{ ecosystem_form.ecosystem_name }}
                      </div>
                  </div>
                  <div class="modal-footer">
                      <div class="form-actions pull-right">
                          <div class="input-group">
                              <div id="add-btn-group-eco_modal" class="button-group">
                                  <button type="submit" formaction='/projects/add_ecosystem' class="btn"><i class="fa fa-plus"></i> Add</button>
                              </div>
                              <div id="edit-btn-group-eco_modal" class="button-group">
                                  <button type="submit" formaction="/projects/update_ecosystem" class="btn btn-success"><i class="fa fa-save"></i> Save</button>
                                  <button type="submit" formaction='/projects/remove_ecosystem' class="btn btn-danger"><i class="fa fa-trash-o"></i> Remove</button>
                              </div>
                          </div>
                      </div>
                  </div>
                </fieldset>
            </form>
            </div>
        </div>
    </div>

  <!-- Modal: Add project -->
  <div class="modal fade" id="projectsModal" role="dialog" tabindex="-1">
      <div class="modal-dialog">
      <!-- Modal content-->
          <div class="modal-content">
                <div class="modal-header">
                    <form>
                        <div class="modal-title">Project for <strong>{{ ecosystems_form.initial.name }}</strong></div>
                    </form>
                  <button type="button" class="close" data-dismiss="modal">&times;</button>
                </div>
                <div class="container">
                    <form method="post" enctype="multipart/form-data">
                        <fieldset id="add-project-fieldset">
                            <div class="modal-body">
                                {% csrf_token %}
                                {% for field in project_form.state_fields %}
                                  {{ field }}
                                {% endfor %}
                                {{ project_form.name.errors }}
                                <div class="input-group">
                                    <span class="input-group-addon"><i class="fa fa-suitcase"></i></span>
                                    {{ project_form.project_name }}
                                </div>
                            </div>
                            <div class="modal-footer">
                                <div class="form-actions pull-right">
                                    <div class="input-group">
                                        <div id="add-btn-group-proj_modal" class="button-group">
                                            <button type="submit" formaction='/projects/add_project' class="btn"><i class="fa fa-plus"></i> Add</button>
                                        </div>
                                        <div id="edit-btn-group-proj_modal" class="button-group">
                                            <button type="submit" formaction="/projects/update_project" class="btn btn-success"><i class="fa fa-save"></i> Save</button>
                                            <button type="submit" formaction='/projects/remove_project' class="btn btn-danger"><i class="fa fa-trash-o"></i> Remove</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </fieldset>
                    </form>
                </div>
          </div>
      </div>
  </div>

  <!-- Modal: Add data source -->
  <div class="modal fade" id="DSModal" role="dialog" tabindex="-1">
      <div class="modal-dialog">
      <!-- Modal content-->
          <div class="modal-content">
            <form method="post">
                <fieldset id="add-data-source-fieldset">
                    {% csrf_token %}
                    {% for field in repository_view_form.state_fields %}
                      {{ field }}
                    {% endfor %}
                    {{ repository_view_form.repository_view_id }}
                    {{ repository_view_form.name.errors }}
                <div class="modal-header">
                  <div class="modal-title">Data source for <strong>{{ projects_form.initial.name }}</strong> in <strong>{{ ecosystems_form.initial.name }}</strong></div>
                  <button type="button" class="close" data-dismiss="modal">&times;</button>
                </div>
                <div class="modal-body">
                    <div class="input-group"><span class="input-group-addon">Data source type</span>{{ repository_view_form.data_source }}</div>
                    <div class="input-group">
                      <span class="input-group-addon"><i class="fa fa-external-link"></i></span>
                      {{ repository_view_form.repository }}
                    </div>
                    <div class="input-group">
                        <span class="input-group-addon"><i class="fa fa-cogs"></i></span>
                        {{ repository_view_form.params }}
                    </div>
                    <div class="input-group"> <!-- Hidden field with selected project -->
                        {{ repository_view_form.project }}
                    </div>
                    </div>
                <div class="modal-footer">
                    <div class="form-actions pull-right">
                        <div class="input-group">
                            <div id="add-btn-group-rv_modal" class="button-group">
                                <button type="submit" formaction='/projects/add_repository_view' class="btn"><i class="fa fa-plus"></i> Add</button>
                            </div>
                            <div id="edit-btn-group-rv_modal" class="button-group">
                                <button type="submit" formaction="/projects/update_repository_view" class="btn"><i class="fa fa-save"></i> Save</button>
                                <button type="submit" formaction='/projects/remove_repository_view' class="btn"><i class="fa fa-trash-o"></i> Remove</button>
                            </div>
                        </div>
                    </div>
                </div>
            </fieldset>
          </form>
          </div>
      </div>
  </div>

</div>

<!-- Main body -->
    <div class="container-fluid">
      <!-- Start: Editor header -->
      <div class="row">
        <div class="col-md-6">
            <div class="row">
              <form class="form-inline" action="/projects/editor_select_ecosystem" method="post">
                {% csrf_token %}
                {% for field in ecosystems_form.state_fields %}
                {{ field }}
                {% endfor %}
                {{ ecosystems_form.name.errors }}
                <div class="form-group md-2">
                  <label for="id_name"><h2>Ecosystem:</h2></label>
                  {{ ecosystems_form.name }}
                </div>
              </form>
              <button id="edit-eco-btn" type="submit" class="btn btn-primary btn-md" onclick="showEditButtons('ecosystems');">
                <i class="fa fa-pencil"></i> Edit <span class="sr-only">ecosystem</span>
              </button>
            </div>
        </div>
        <div class="col-md-3">
        </div>
        <div class="col-md-3">
          <div class="button-group text-right row">
            <button id="add-eco-btn" type="submit" class="btn btn-primary" onclick="showAddButtons('ecosystems');">
              <i class="fa fa-plus"></i> Add <span class="sr-only">ecosystem</span>
            </button>
            <fieldset id="import-export-eco-fieldset">
                <button type="submit" class="btn btn-default" data-toggle="modal" data-target="#importModal">
                  <i class="fa fa-upload"></i> Import <span class="sr-only">ecosystem</span>
                </button>
                <button type="submit" class="btn btn-default" data-toggle="modal" data-target="#exportModal">
                  <i class="fa fa-download"></i> Export <span class="sr-only">ecosystem</span>
                </button>
            </fieldset>
          </div>
        </div>
      </div>
      <!-- End: Editor header -->
    </div>

    <div class="container-fluid">
      <!-- Start: Editor body -->
      <div class="row">
        <!-- Start: Projects block -->
        <div class="col-md-2">
          <div class="row">
            <div class="col-sm-4">
              <h3>Projects</h3>
            </div>
            <div class="col-sm-8">
              <button type="submit" class="btn btn-primary" id="add-project-btn" onclick="showAddButtons('projects');">
                <i class="fa fa-plus"></i> Add<span class="sr-only"> project</span>
              </button>
              <button type="submit" class="btn btn-primary" id="edit-project-btn" onclick="showEditButtons('projects');">
                <i class="fa fa-pencil"></i> Edit<span class="sr-only"> project</span>
              </button>
            </div>
          </div>

          <div class="row">
            <div class="col-sm-12">
              <form action="/projects/editor_select_project" method="post">
                <fieldset id="select-project-fieldset">
                    {% csrf_token %}
                    {% for field in projects_form.state_fields %}
                      {{ field }}
                    {% endfor %}
                    {{ projects_form.name.errors }}
                    <div class="form-group form-group-lg">
                      {{ projects_form.name }}
                    </div>
                    <div class="form-group">
                        <button type="submit" class="btn btn-primary" id="select-project-btn">
                          <i class="fa fa-check"></i> Select <span class="sr-only"> project</span>
                        </button>
                    </div>
                </fieldset>
              </form>
            </div>
          </div>

        </div>
        <!-- End: Projects block -->
        <!-- Start: Data sources block -->
        <div class="col-md-7">
          <div class="row">
            <div class="col-sm-4">
              <h3>Data Sources</h3>
            </div>
            <div class="col-sm-8">
              <div class="button-group">
                <button type="submit" class="btn btn-primary" id="add-repoView-btn" onclick="showAddButtons('data_sources');"><span><i class="fa fa-plus"></i></span> Add<span class="sr-only"> repository view</span></button>
                <button type="submit" class="btn btn-primary" id="edit-repoView-btn" onclick="showEditButtons('data_sources');"><span><i class="fa fa-pencil"></i> Edit<span class="sr-only"> repository view</span></button>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-4">
                <form action="/projects/select_data_source" method="post">
                    <fieldset id="select-data-source-fieldset">
                      {% csrf_token %}
                      {% for field in data_sources_form.state_fields %}
                        {{ field }}
                      {% endfor %}
                      {{ data_sources_form.name.errors }}
                      <div class="form-group">
                        {{ data_sources_form.name }}
                      </div>
                      <div class="form-group">
                        <button type="submit" class="btn btn-primary" id="select-dataSource-btn"><span><i class="fa fa-check"></i></span> Select<span class="sr-only"> data source type</span></button>
                      </div>
                  </fieldset>
                </form>
            </div>
            <div class="col-sm-8">
                <form action="/projects/select_repository_view" method="post">
                    <fieldset id="select-repository-view-fieldset">
                      {% csrf_token %}
                      {% for field in repository_views_form.state_fields %}
                        {{ field }}
                      {% endfor %}
                      {{ repository_views_form.name.errors }}
                      <div class="form-group">
                        {{ repository_views_form.id }}
                      </div>
                      <div class="form-group">
                        <button type="submit" class="btn btn-primary" id="select-repoView-btn"><span><i class="fa fa-check"></i></span> Select<span class="sr-only"> Repo View<span></button>
                      </div>
                    </fieldset>
                </form>
            </div>
          </div>
        </div>
        <!-- Start: Data sources block -->
        <!-- Start: Scope block -->
        <div class="col-md-3">
          <h3>Scope</h3>
          <table class="table table-hover">
              <tbody>
                <tr>
                  <td>Projects</td>
                  <td>{{ projects_form.name|length }}</td>
                </tr>
                <tr>
                  <td>Data Sources</td>
                  <td>{{ data_sources_form.name|length }}</td>
                </tr>
                <tr>
                  <td>Repository Views</td>
                  <td>{{ repository_views_form.id|length }}</td>
                </tr>
              </tbody>
            </table>
        </div>
        <!-- End: Scope block -->
      </div>
      <!-- End: Editor body -->
    </div>

    <script>

    // Disable "onclick" event when selecting an ecosystem on
    // Import and Download modals.
    eco_download_form = document.getElementById("ecosystem_download");
    eco_download_form["name"].removeAttribute("onclick");
    eco_download_form = document.getElementById("ecosystem_import");
    eco_download_form["name"].removeAttribute("onclick");

    // Functions to show/hide buttons on modals depending on the action.
    function showAddButtons(modal_name) {
        if (modal_name == "ecosystems") {
            document.getElementById("add-btn-group-eco_modal").style.display = "block";
            document.getElementById("edit-btn-group-eco_modal").style.display = "none";
            $('#ecoModal').modal('show');
        } else if (modal_name == "projects") {
            document.getElementById("add-btn-group-proj_modal").style.display = "block";
            document.getElementById("edit-btn-group-proj_modal").style.display = "none";
            $('#projectsModal').modal('show');
        } else if (modal_name == "data_sources") {
            document.getElementById("add-btn-group-rv_modal").style.display = "block";
            document.getElementById("edit-btn-group-rv_modal").style.display = "none";
            $('#DSModal').modal('show');
        }
    }

    function showEditButtons(modal_name){
        if (modal_name == "ecosystems") {
            document.getElementById("add-btn-group-eco_modal").style.display = "none";
            document.getElementById("edit-btn-group-eco_modal").style.display = "block";
            $('#ecoModal').modal('show');
        } else if (modal_name == "projects") {
            document.getElementById("add-btn-group-proj_modal").style.display = "none";
            document.getElementById("edit-btn-group-proj_modal").style.display = "block";
            $('#projectsModal').modal('show');
        } else if (modal_name == "data_sources") {
            document.getElementById("add-btn-group-rv_modal").style.display = "none";
            document.getElementById("edit-btn-group-rv_modal").style.display = "block";
            $('#DSModal').modal('show');
        }
    }

    // Disable element
    function disableElement(element_id) {
        document.getElementById(element_id).disabled = true;
    }

    </script>
    <!-- Element disabling control-->
    {% if not ecosystems_form.initial.name %}
        {% if ecosystems_form.name|length == 1 %}
            <script>
            // If there are no ecosystems, open `add` modal
            // ecosystems length is 1 because of the empty option
                showAddButtons("ecosystems");
            </script>
        {% endif %}
        <script>
            disableElement("add-project-fieldset");
            disableElement("select-project-fieldset");
            disableElement("select-data-source-fieldset");
            disableElement("select-repository-view-fieldset");
            disableElement("add-data-source-fieldset");
            disableElement("edit-eco-btn");
        </script>
    {% elif not projects_form.initial.name %}
        {% if projects_form.name|length == 0 %}
            <script>
                disableElement("select-project-fieldset");
                // If there are no projects, open `add` modal
                showAddButtons("projects");
            </script>
        {% endif %}
        <script>
            disableElement("edit-project-btn");
            disableElement("select-data-source-fieldset");
            disableElement("select-repository-view-fieldset");
            disableElement("add-data-source-fieldset");
        </script>
    {% elif not repository_view_form.initial.repository %}
        {% if repository_views_form.id|length == 0 %}
            <script>
                disableElement("select-data-source-fieldset");
                disableElement("select-repository-view-fieldset");
                // If there are no data sources, open `add` modal
                showAddButtons("data_sources");
            </script>
        {% endif %}
        <script>
            disableElement("edit-repoView-btn");
        </script>
    {% endif %}
    <!-- End of element disabling control-->
{% endblock %}
{% endwith %}
