{% extends 'base.html' %}
{% with active_page="editor" %}

{% block title %}Bestiary Editor{% endblock %}

{% block head %}
    {{ block.super }}
    <style type="text/css">
      .four-column {float: left; width: 20%; margin-right: 10px;
                    height: 90%; min-height: 600px;}
    </style>
{% endblock %}

{% block body %}

<!-- Upper row -->
<div><h1>Bestiary Editor</h1></div>

<!-- Testing Django Forms capabilities -->
<div style="width: 40%; margin: 10px">
  <form action="/edit_ecosystem" method="post">
    {% csrf_token %}
    {{ ecosystem_form.name.errors }}
    <div class="form-group row">
      <div class="col-sm-7">
        {{ ecosystem_form.name }}
      </div>
      <div class="col-sm-5">
        <button type="submit" class="btn btn-primary">Select Ecosystem</button>
      </div>
    </div>
  </form>
</div>

<div style="clear:both; width:90%;"></div>

<!-- Four columns: Change to BS layout! -->

<div class="four-column">
  <form action="/edit_project" method="post">
    {% csrf_token %}
    {{ projects_form.name.errors }}
    <div class="form-group">
      {{ projects_form.name }}
    </div>
    <div class="form-group">
      <button type="submit" class="btn btn-primary">Select Project</button>
    </div>
  </form>
  <form action="/add_project" method="post">
    {% csrf_token %}
    <div class="form-group row">
      <div class="col-sm-7"><input type="text" name="project_name_add" placeholder="name" class="form-control"></div>
      <div class="col-sm-5"><button type="submit" class="form-control">Add project</a></div>
    </div>
  </form>
  <form action="/remove_project" method="post">
    {% csrf_token %}
    <div class="form-group">
      <button type="submit" class="form-control">Remove project</button>
    </div>
  </form>
</div>

<div class="four-column">
  <form action="/edit_data_source_type" method="post">
    {% csrf_token %}
    {{ data_source_types_form.name.errors }}
    <div class="form-group">
      {{ data_source_types_form.name }}
    </div>
    <div class="form-group">
      <button type="submit" class="btn btn-primary">Select Data Source Type</button>
    </div>
    <div class="form-group row">
      <div class="col-sm-7"><input type="text" name="data_source_name_add" placeholder="name" class="form-control"></div>
      <div class="col-sm-5"><input type="button" value="Add data source" class="form-control"></div>
    </div>
    <div class="form-group">
      <input type="button" value="Remove data source" class="form-control">
    </div>
  </form>
</div>

<div class="four-column">
  <form action="/edit_data_source" method="post">
    {% csrf_token %}
    {{ data_sources_form.name.errors }}
    <div class="form-group">
      {{ data_sources_form.id }}
    </div>
    <div class="form-group">
      <button type="submit" class="btn btn-primary">Select Data Source</button>
    </div>
    <div class="form-group row">
      <div class="col-sm-7"><input type="text" name="repository_name_add" placeholder="name" class="form-control"></div>
      <div class="col-sm-5"><input type="button" value="Add repository" class="form-control"></div>
    </div>
    <div class="form-group">
      <input type="button" value="Remove repository" class="form-control">
    </div>
  </form>
</div>

<div class="four-column">
  <form action="/update_data_source" method="post">
    {% csrf_token %}
    {{ data_source_form.name.errors }}
    {{ data_source_form.data_source_id.as_hidden }}
    <div class="form-group row">
      <label class="col-sm-4 col-form-label">Repository</label>
      <div class="col-sm-8">{{ data_source_form.repository }}</div>
    </div>
    <div class="form-group row">
      <label class="col-sm-4 col-form-label">Params</label>
      <div class="col-sm-8">{{ data_source_form.params }}</div>
    </div>
    <div class="form-group row">
      <label class="col-sm-4 col-form-label">Filters</label>
      <div class="col-sm-8">{{ data_source_form.filters }}</div>
    </div>

    <div class="form-group row">
      <div class="col-sm-12">
        <button type="submit" class="btn btn-primary">Update Data Source</button>
      </div>
    </div>
    </div>
  </form>
</div>

{% endblock %}
{% endwith  %}
