{% extends 'base.html' %}
{% with active_page="project" %}

{% block title %}Project{% endblock %}

{% block head %}
    {{ block.super }}
    <script type="text/javascript">
        $(document).ready(function(){
            $('#myTable').DataTable();
        });
    </script>
{% endblock %}

{% block body %}

<div class="container-fluid">
  <!-- Modal -->
  <div class="modal fade" id="importModal" role="dialog">
      <div class="modal-dialog">
      <!-- Modal content-->
          <div class="modal-content">
            <form method="POST" action="/projects/import/" enctype="multipart/form-data">
            {% csrf_token %}
            <div class="modal-header">
                <div class="modal-title">
                    Import projects file
                </div>
              <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
            <div class="modal-body">
                    <div class="input-group">
                       <span class="input-group-addon"><i class="fa fa-globe"></i></span>
                       <input type="text" name="ecosystem" placeholder="Ecosystem name" required=True class="form-control">
                     </div>
                     <div class="input-group">
                       <span class="input-group-addon"><i class="fa fa-arrow-circle-o-up"></i></span>
                       <input type="file" name="imported_file" placeholder="Select JSON file" accept="application/json" required=True class="form-control">
                     </div>
            </div>
            <div class="modal-footer">
              <button type="submit" class="btn btn-primary">Import</button>
              <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
          </form>
          </div>
      </div>
  </div>

  <!-- Modal -->
  <div class="modal fade" id="exportModal" role="dialog">
      <div class="modal-dialog">
      <!-- Modal content-->
          <div class="modal-content">
            <form method="POST" action="/projects/export/" enctype="multipart/form-data">{% csrf_token %}
            <div class="modal-header">
              <div class="modal-title">Download projects file</div>
              <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
            <div class="modal-body">
                    <div class="input-group">
                        <span class="input-group-addon"><i class="fa fa-globe"></i></span>
                        {{ ecosystems_form.name }}
                    </div>
            </div>
            <div class="modal-footer">
              <button type="submit" class="btn btn-primary">Download</button>
              <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
          </form>
          </div>
      </div>
  </div>
</div>

<!-- LEFT COLUMN -->
<div style="float:left; width:70%; margin-right: 10px; height:90%; min-height: 600px;">

<h1 style='display:inline'>Scope</h1>
<button disabled type="button" class="btn btn-success" style="float: right;">Add Data Source</button>

<br><br>
<form action="/profiles" method="POST">
    <table class="table table-striped" id="myTable">
        <thead class="thead-dark">
          <tr>
              <td colspan="4" align="right">
              </td>
          </tr>
            <tr>
                <th></th>
                <th>Type</th>
                <th>Repository</th>
                <th>Params</th>
            </tr>
        </thead>
        <tfoot>
        </tfoot>
        <tbody>
            {% for repository_view in repository_views %}
            <tr>
                <td>
                    <input type="checkbox" name="view_id" value="{{repository_view.id}}">
                </td>
                <td>{{repository_view.type}}</a></td>
                <td style="max-width: 300px;">{{repository_view.name}}</a></td>
                <td>{{repository_view.params}}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</form>
</div>
<!-- END LEFT COLUMN -->

<!-- RIGHT COLUMN -->
<div>
    <div class="form-group">
      <form action=/projects/>
        <select style="width:20%;" name="project" multiple class="form-control"
        rows="4" onchange="submit()">
          {% for project in projects %}
            {% if project.name == project_selected %}
              <option selected>{{project.name}}</option>
            {% else %}
              <option>{{project.name}}</option>
            {% endif %}
          {% endfor %}
        </select>
      </form>
    </div>
    <div style="height:100px"></div>
    Scope<br><br>
    Projects: 1<br>
    Data Sources: {{data_sources|length}}<br>
    Repository Views: {{repository_views|length}}<br>
    <div style="height:100px"></div>
        <button type="submit" class="btn btn-success" data-toggle="modal" data-target="#importModal">Import Projects File</button>
    </div>
    <div style="height:10px"></div>
        <button type="submit" class="btn btn-success" data-toggle="modal" data-target="#exportModal">Download Projects File</button>
    </div>

<!-- END RIGHT COLUMN -->
{% endblock %}
{% endwith  %}
