{% extends 'base.html' %}
{% with active_page="project" %}

{% block title %}Project{% endblock %}

{% block head %}
    {{ block.super }}
    <script type="text/javascript">
        $(document).ready(function(){
            $('#myTable').DataTable();
        });
    </script>
{% endblock %}

{% block body %}

<!-- LEFT COLUMN -->
<div style="float:left; width:70%; margin-right: 10px; height:90%; min-height: 600px;">

<h1 style='display:inline'>Scope</h1>
<button disabled type="button" class="btn btn-success" style="float: right;">Add Data Source</button>

<br><br>
<form action="/profiles" method="POST">
    <table class="table table-striped" id="myTable">
        <thead class="thead-dark">
          <tr>
              <td colspan="4" align="right">
              </td>
          </tr>
            <tr>
                <th></th>
                <th>Type</th>
                <th>Repository</th>
                <th>Params</th>
            </tr>
        </thead>
        <tfoot>
        </tfoot>
        <tbody>
            {% for ds in data_sources %}
            <tr>
                <td>
                    <input type="checkbox" name="ds_id" value="{{ds.id}}">
                </td>
                <td>{{ds.type}}</a></td>
                <td style="max-width: 300px;">{{ds.name}}</a></td>
                <td>{{ds.params}}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</form>
</div>
<!-- END LEFT COLUMN -->

<!-- RIGHT COLUMN -->
<div>
    <div class="form-group">
      <form action=/projects/>
        <select style="width:20%;" name="project" multiple class="form-control"
        rows="4" onchange="submit()">
          {% for project in projects %}
            {% if project.name == project_selected %}
              <option selected>{{project.name}}</option>
            {% else %}
              <option>{{project.name}}</option>
            {% endif %}
          {% endfor %}
        </select>
      </form>
    </div>
    <div style="height:100px"></div>
    Scope<br><br>
    Projects: 1<br>
    Data Sources: {{data_sources|length}}<br>
    Data Sources Type: {{data_sources_types|length}}<br>
    <div style="height:100px"></div>
    <form method="POST" action="/projects/import/" enctype="multipart/form-data">{% csrf_token %}
        <input type="file" name="imported_file" accept="application/json" required=True><br>
        <input type="text" name="ecosystem" placeholder="Ecosystem name" required=True><br>
        <button type="submit" class="btn btn-success">Import Projects File</button>
    </form>
    </div>
    <div style="height:10px"></div>
    <form method="POST" action="/projects/export/" enctype="multipart/form-data" target="_blank">{% csrf_token %}
        <input type="text" name="ecosystem" placeholder="Ecosystem name" required=True><br>
        <button type="submit" class="btn btn-success">Download Projects File</button>
    </form>
    </div>
<!-- END RIGHT COLUMN -->
{% endblock %}
{% endwith  %}
